.contact-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.wrapper-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  margin-top: 10vh;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 50vw;
}
.content-container span {
  margin-top: 5rem;
  font-size: 1.2rem;
  color: rgb(101, 104, 255);
}
.content-container h1 {
  font-size: 4rem;
  color: #ccd6f6;
}
.header-c {
  display: flex;
  margin: 0rem 0rem 2rem 0rem;
}

.header-c .gradient__text {
  margin-left: 0.5rem;
}

.content-container .summary {
}

.content-container .resume1 {
  font-size: 1.1rem;
  margin-top: 6rem;
  background-image: linear-gradient(#022043, #02254b),
    radial-gradient(
      circle at top left,
      rgba(145, 101, 255, 1),
      rgba(0, 97, 255, 1)
    );
  align-items: center;
  justify-content: center;
}

.resume1 a {
  display: flex;
  width: 15rem;
  height: 100%;
  color: rgb(101, 104, 255);
  background-color: transparent;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

.sidebar-container-responsive {
  display: none;
}

@media only screen and (max-width: 600px) {
  .contact-container {
    width: 100%;
    height: max-content;
    justify-content: flex-start;
  }
  .contact-container .header hr {
    width: 41%;
  }
  .content-container {
    width: 100%;
  }

  .wrapper {
    height: 70vh;
  }
  .content-container h1 {
    font-size: clamp(33px, 8vw, 80px);
  }
  .header-c .gradient__text {
    margin-left: 0.2rem;
  }

  .content-container span {
    margin-top: 1rem;
  }
  .content-container .resume1 {
    margin-top: 3rem;
  }
  .sidebar-container-responsive ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    list-style: none;
  }

  .sidebar-container-responsive li {
    color: #98a8db;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .watermark {
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: #98a8db;
    text-decoration: none;
    font-size: 0.9rem;
  }
}
