.sidebar-container {
  position: fixed;
  left: 2rem;
  bottom: 0;
}

.sidebar-container ul {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  list-style: none;
}
.sidebar-container li {
  cursor: pointer;
  color: #98a8db;
  margin-bottom: 1rem;
  transition: all 0.2s;
}
.vl {
  border-left: 1px solid #98a8db;
  height: 10rem;
}

.sidebar-container li:hover {
  filter: drop-shadow(0px 0px 10px rgb(86, 127, 182));
}

@media only screen and (max-width: 600px) {
  .sidebar-container {
    display: none;
  }
}
