.sb2 {
  position: fixed;
  right: 2rem;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vertical {
  background-color: transparent;
  border: none;
  margin-bottom: 1rem;
}

.vertical a {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: #98a8db;
  font-size: 1.1rem;
  text-decoration: none;
  transition: all 0.2s;
}

.vertical a:hover {
  filter: drop-shadow(0px 0px 10px rgb(86, 127, 182));
}

@media only screen and (max-width: 600px) {
  .sb2 {
    display: none;
  }
}
